<div id="site-links">

	{% for item in site.navigation %}
	{% if item.type %}
		<div class="nav-item"><a href="{{ item.url }}">{{ item.title }}</a></div>
	{% else %}
		 <div class="nav-item"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></div>
	{% endif %}

	{% if forloop.last == false %}
	|
	{% endif %}

  {% endfor %}

</div>

<div id="site-navigation">

	{% for item in site.pages %}
	{% if item.url != "/" %}
		<div class="nav-item"><a href="{{ item.url }}">{{ item.title }}</a></div>
	{% endif %}
	{% endfor %}

</div>

<script src="{{ base.url | prepend: site.url }}//assets/js/site-link-behaviour.js"></script>
