---
---

// Site header font
@font-face {
	font-family: KaeruKaeru;
	src: url(../fonts/kaerukaeru-master/fonts/kaerukaeru-Regular.otf);
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1rem !important;
}

body {
	background-color: #0000ff !important;
	background: url(../img/wall_texture.jpg);
	background-blend-mode: darken;
	
	margin: 2rem;
	text-transform: lowercase;
	color: rgb(185, 138, 255);
}

a {
	color: rgb(206, 206, 112) !important;
	text-decoration: none;
	font-style: oblique !important;
}

h2 {
	color: white;
}

h3 {
	color: yellowgreen;
}

#site-header {
	font-family: KaeruKaeru !important;
	font-size: 3rem;

	height: auto;
	display: inline-flex;
}

#sidebar {
	width: 360px !important; // Sidebar width
	height: auto;
	position: fixed;
	margin-top: 0;
	margin-left: 0px;

	display:flex;
	flex-direction: column;
	align-items: flex-start;
}

#flower-head {
	height: 72px;
	width: auto;
	position: relative;

	margin-left: 24px;
}

#site-navigation {
	width: 240px;
	height: 240px;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;

	//position: absolute;
	//top: 24px; 
	//right: 24px;

	margin-top: 16px;

	background-image: url('../img/chain_circle.png');
	background-size: 100% 100%;
	//background-color: #0000ff;
	//background-blend-mode: darken
}

#site-links {
	width: auto;
	height: 36px;
	background-color: rgba($color: #c8ff2f, $alpha: .7);
	border-radius: 24px;

	display: flex;
	align-items: center;
	padding: 4px;
}

#site-links a {
	opacity: 1;
}

.nav-item {
	padding: 4px 8px;
	background-size: 100% !important;
	overflow: visible !important;
	background-position: center center;
	background-repeat: no-repeat;
}

.nav-item a {
	color: rgb(134, 134, 134) !important;
}

.link-item {
	// Just a class !
	position: fixed !important;
}

#bio-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	//width: 50%;
}

#profile-pic {
	//width: 67%;
	height: auto;
}

#profile-pic img {
	width: 100%;
	height: 100%;
}

#site-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 10px;
}

#clown-king {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;

	background-image: url('../img/clown-king.png');
	background-size: 100% 100%;
	background-blend-mode: color-burn;
	background-color: rgb(56, 56, 56);

	opacity: .5;
}

.page-content {
	position: relative;
	margin-left: 360px; // Sidebar width
	padding: 0px 64px 64px;

	min-width: 480px !important;
	max-width: 800px !important;
	//margin-top: 48px;
}

.image-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    justify-content: center;
    padding: 4px;
  }

  .box {
      flex-basis: 25%;
      width: 100%;
      padding: 80px;
      margin: 2px;
  }

  .img-gallery {
	width: 100%;
  	height: 200px;
	object-fit: cover;
  	transform: scale(1);
  	transition: all 0.3s ease-in-out;
  	&:hover {
    	transform: scale(1.05);
  	}
}

#blog-container {
	//height: 300px;
	//overflow: scroll !important;
}

.blog-post {
	font-style: normal !important;
	text-transform: none !important;

	width: fit-content;

	background-image: url('../img/certain-lives-clouds.png');
	background-size: 100% 100%;
	background-blend-mode: difference;

	padding-bottom: 32px;
}

.blog-post-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

	max-width: 100% !important;
}

#gallery-container {
	
}

.gallery-post {

	font-style: normal !important;
	text-transform: none !important;

	width: fit-content;

	background-image: url('../img/certain-lives-clouds.png');
	background-size: 100% 100%;
	background-blend-mode: difference;

	padding-bottom: 32px;
}

.gallery-post-media img, video {

	max-width: 100% !important;
	max-height: 800px !important;

}

.gallery-post-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

	margin: 16px 0;

	max-width: 100% !important;
}

.gallery-post-info h2 {
	margin: 0 !important;
	padding-right: 16px;
}

.gallery-post-info h3 {
	margin: 0 !important;
}

.gallery-post-media {

}

.gallery-post-content {
	
}

// Title
.blog-post-header h2 {
	margin: 0 !important;
	padding-right: 16px;
}

// Date
.blog-post-header h3 {
	margin: 0 !important;
}

.blog-post-content {

}

#p5_overlay 
{
    width: 100vw;
    height: 100vh;

    pointer-events: none !important;

    position: fixed;
    top: 0;
    left: 0;
    
    z-index: -98 !important;
}