---
layout : page
---

<div id="gallery-container">

    {% assign posts = site.gallery | sort : 'date' | reverse %}
    {% for post in posts %}

    {% assign type= post.type %}
    {% if type %}

    <div class="gallery-post">
    <div class="gallery-post-media">
    {% if type == "image" %}
        <img src="{{ post.src }}" href="{{ post.src }}">
    {% elsif type == "video" %}
        <video controls autoplay><source src="{{ post.src }}" type="video/mp4"></video>
    {% endif %}
    </div>
    <div class="gallery-post-info"><h2>{{ post.title }}</h2><h3>{{ post.date | date: "%-d %B %Y" }}</h3></div>
    <div class="gallery-post-content">{{ post.content }}</div>

    </div>

    {% endif %}

    {% endfor %}
</div>