---
layout: page
---

<div class="gallery-post">
    <div class="gallery-post-media">
    {% if type == "image" %}
        <a href="{{ page.src }}" target="_blank"><img src="{{ page.src }}"></a>
    {% elsif type == "video" %}
        <video controls autoplay><source src="{{ page.src }}" type="video/mp4"></video>
    {% endif %}
    </div>
    <div class="gallery-post-info"> <h2>{{ page.title }}</h2><h3>{{ page.date | date: "%-d %B %Y" }}</h3></div>
    <div class="gallery-post-content">
        <p>{{ content }}</p>
    </div>
</div>