<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>

	<link rel="stylesheet" href="{{ base.url | prepend: site.url }}{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script> <!-- Processing -->


    <!--<script src="{{ base.url | prepend: site.url }}//assets/js/sketch.js"></script>-->
</head>
<body>

<div id="clown-king"></div>

<div id="site-wrapper">

	{% include sidebar.html %}

	<div class="page-content">
		{{ content }}
	</div>

</div>
	
<!--{% include sketch.html %}-->


</body>
</html>